MONGO_HOST=
MONGO_PORT=27017
MONGO_USER=
MONGO_PASS=
MONGO_DBNAME=

MYSQL_HOST=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

BIGCOMMERCE_WEBHOOK_SECRET=

GOOGLE_API_KEY=
GOOGLE_CSE_CX=

GOOGLE_CSE_BATCH_SIZE=100
GOOGLE_CSE_DAILY_LIMIT=100

# Digital Ocean Spaces - IMPORTANTE: El endpoint NO incluye el nombre del bucket
# boto3 con addressing_style='virtual' agregará el bucket automáticamente
DO_SPACES_ENDPOINT=https://sfo3.digitaloceanspaces.com
DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_BUCKET=
